*,
::after,
::before{
    content-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    padding: 5em;
    margin: 5em;
    background-color: #313131;
    text-align: center;
}

main > .number {
    color: white;
    padding-bottom: 2em;
    font-size: 3em;
}

main > .button {
    color: white;
    font-size:2em;
    padding: 1em;
    background-color: transparent;
    border-radius: 5px;
    transition: 1s ease-in;
}

main > .button:hover {
    color: black;
    background-color: #f5f5f5
}